<div style="align-content: end" (click)="dialogRef.close()">
  <i class="fa fa-window-close-o" aria-hidden="true"></i>
</div>
<md-card style="direction: rtl">
  <md-card-title>
    <label class="title">ورود</label>
  </md-card-title>
  <md-card-content>
    <md-input-container>
      <input class="content" mdInput type="text" placeholder="نام کاربری" [(ngModel)]="username"/>
    </md-input-container>
    <br/>
    <md-input-container>
      <input class="content" mdInput type="password" placeholder="رمز عبور" [(ngModel)]="password"/>
    </md-input-container>
    <br/>
    <button md-mini-fab color="primary" class="primaryColor" (click)="login()">
      <i class="fa fa-sign-in" aria-hidden="true"></i>
    </button>
  </md-card-content>
</md-card>
