<md-card style="margin: 3px;">
  <div class="content" style="margin-right: 40px;">
    {{criticism.title}}
  </div>
  <div class="flex-container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start start" fxLayoutAlign.xs="start start">
    <div class="flex-item" fxFlex="85" fxFlex.xs="85">
      <div>
        <img src="../../../assets/image/user.png" width="40" height="40">
        {{criticism.writerName}}
      </div>
      <div>{{criticism.content}}</div>
      <div>
        <label class="content">برچسب: </label>
        <label class="urlContent">{{concatTags(criticism.tags)}}</label>
      </div>
    </div>
    <div class="flex-item" fxFlex="15" fxFlex.xs="15">
      <div class="flex-container" fxLayout="column" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutAlign.xs="center center">
        <div class="flex-item" fxFlex="33" fxFlex.xs="25">
          <button (click)="vote('inc')" class="trsBtn">
            <i class="fa fa-plus" aria-hidden="true" style="color: green;"></i>
          </button>
        </div>
        <div class="flex-item" fxFlex="33" fxFlex.xs="25">
          {{criticism.vote}}
        </div>
        <div class="flex-item" fxFlex="33" fxFlex.xs="25">
          <button (click)="vote('dec')" class="trsBtn">
            <i class="fa fa-minus" aria-hidden="true" style="color: red;"></i>
          </button>
        </div>
        <div class="flex-item" fxFlex="33" fxFlex.xs="25">
          <br/>
          <button class="trsBtn" (click)="displayReply()">
            <i class="fa fa-reply" aria-hidden="true" style="color: #0c08ff"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</md-card>
