<div style="margin: 5px !important;">
  <div class="flex-container" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="center start" fxLayoutAlign.xs="start start" fxLayoutAlign.sm="start start">
    <div class="flex-item" fxFlex="60" fxFlex.sm="100" fxFlex.xs="100" style="margin: 5px !important; width: 100%;">
      <md-card class="outerCard">
        <md-card-title>نگارش انتقاد</md-card-title>
        <md-card>
          <form [formGroup]="criticismForm" (ngSubmit)="addCriticism()">
            <div>
              <md-input-container style="width: 100%;">
                <input mdInput placeholder="عنوان" [mdAutocomplete]="autoTitle" formControlName="subject" (focus)="showList('subject')">
              </md-input-container>
              <md-autocomplete #autoTitle="mdAutocomplete">
                <md-option *ngFor="let subject of filteredSubjects | async" [value]="subject" style="text-align: right" class="label">
                  {{ subject }}
                </md-option>
              </md-autocomplete>
            </div>
            <div>
              <textarea class="content" rows="10" placeholder="محتوا" formControlName="content" (change)="getSimilarCriticisms()"></textarea>
            </div>
            <div>
              <md-input-container style="width: 100%;">
                <input mdInput type="text" placeholder="برچسب ها: (با '-' برچسب ها را از بکدیگر جدا کنید)" formControlName="tags"/>
              </md-input-container>
            </div>
            <div>
              <md-input-container style="width: 100%;">
                <input mdInput placeholder="بخش مورد انتقاد" [mdAutocomplete]="autoPart" formControlName="part" (focus)="showList('part')">
              </md-input-container>
              <md-autocomplete #autoPart="mdAutocomplete">
                <md-option *ngFor="let part of filteredParts | async" [value]="part" style="text-align: right" class="label">
                  {{ part }}
                </md-option>
              </md-autocomplete>
            </div>
            <div style="text-align: left;">
              <button md-mini-fab style="background-color: rgba(119, 113, 255, 0.63);" type="submit"
                      [disabled]="!criticismForm.valid">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
              </button>
            </div>
          </form>
        </md-card>
      </md-card>
    </div>
    <div class="flex-item" fxFlex="40" fxFlex.sm="100" fxFlex.xs="100" style="margin: 5px !important; width: 100%;">
      <md-card class="outerCard">
        <md-card-title>انتقادهای مشابه</md-card-title>
        <md-card-content>
          <div *ngIf="similarCriticisms === null || similarCriticisms.length === 0">
            <div class="content">هیچ انتقاد مشابهی یافت نشد</div>
          </div>
          <div *ngIf="similarCriticisms !== null && similarCriticisms.length > 0">
            <app-criticism *ngFor="let cr of similarCriticisms" [canEdit]="false" [criticism]="cr" (action)="actionHandler($event, cr.id)"></app-criticism>
          </div>
        </md-card-content>
      </md-card>
    </div>
  </div>
</div>
